<div class="media">
	<div class="media-body">
		<h3>
			<%= link_to post.title, [@topic, post] %>
		</h3>
		<small>
			<%= render partial: "labels/list", locals: {labels: post.labels} %>
			<%= post.user.name %> posted <%= time_ago_in_words(post.created_at) %>
		</small>
		<p><%= post.body %></p>
	</div>
</div>